<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.PriceMapper">


<select id="priceList" resultType="com.spring.domain.PriceVO">
	select center_fk,pt_fk,pt_nm,unit,origin_fk,storage_nm,tax_nm,purchase_cost,creditor_fk,creditor_nm,cate_nm
	from productcon_tb left join 
		(select origin_fk,unit,pt_cd,pt_nm,storage_nm,tax_nm,cate_nm from product_tb
			left join storage_tb on storage_fk=storage_cd
			left join tax_tb on tax_fk=tax_cd
			left join category_tb on cate_cd=category_fk) on pt_fk=pt_cd 
			left join creditor_tb on creditor_fk = creditor_cd
</select>









</mapper>