<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.SalesMapper">

	<!-- 판매상품 리스트 -->
	<select id="salesList" resultType="com.spring.domain.SalesVO">
		select
		center_fk,pt_fk,pt_nm,unit,origin_nm,storage_nm,tax_nm,sale_cost,exp_D,exp_T
		from productcon_tb left join
		(select
		origin_nm,unit,pt_cd,pt_nm,storage_nm,tax_nm,cate_nm from product_tb
		left join storage_tb on storage_fk=storage_cd
		left join tax_tb on
		tax_fk=tax_cd
		left join category_tb on cate_cd=category_fk
		left join
		origin_tb on origin_cd=origin_fk) on pt_fk=pt_cd
	</select>

	<!-- 판매처 리스트 -->
	<select id="customerList"
		resultType="com.spring.domain.CustomerVO">
		select /*+INDEX_DESC(customer_tb pk_customer_tb)*/rownum
		rn, customer_cd,
		pre_nm, customer_rcd, customer_nm, c.address,
		center_fk, emp_nm from
		customer_tb c
		left join emp_tb e on c.emp_fk =
		e.emp_cd
	</select>

	<!-- 판매처 검색 -->
	<select id="customerSearch"
		resultType="com.spring.domain.CustomerVO">
		select customer_cd , customer_NM,pre_NM,Address,center_FK
		from
		customer_tb
		where
		<if test="criteria=='customer_NM'">
			customer_nm Like '%'||#{keyword}||'%'
		</if>
		<if test="criteria=='customer_cd'">
			customer_cd Like '%'||#{keyword}||'%'
		</if>
	</select>

	<select id="center_ptList"
		resultType="com.spring.domain.Center_ptVO">
		select
		center_fk,ptcon_cd,pt_cd,pt_NM,unit,origin_NM,storage_NM,tax_NM,sale_cost,sale_cost*tax_fk*0.1
		tax,(sale_cost*tax_fk*0.1)+sale_cost total,p.exp_d exp_d
		,exp_t,creditor_fk from productcon_tb p
		left join (
		select * from
		product_tb
		left join origin_tb on origin_fk = origin_cd
		left join
		storage_tb on storage_fk = storage_cd
		left join tax_tb on tax_fk =
		tax_cd
		)on pt_fk = pt_cd
		where center_fk =
		(select center_fk from
		customer_tb
		where customer_cd = #{customer_cd})
		and (select to_number(to_char(sysdate+#{day}+p.exp_D,'YYYYMMDD'))from
		dual)
		<![CDATA[
		<=#{delivery} order by exp_d,pt_cd
			]]>
	</select>

	<insert id="cart_add">
		insert into cart_tb values
		(#{customer_pk},#{exp_D},#{ptcon_fk},#{delivery_date},#{amount},
		#{supply_price},
		#{vat},
		#{column5})
	</insert>
	
	<update id="cart_update">
	update cart_tb 
	set amount=#{amount} ,supply_price=#{supply_price}*#{amount} ,
	 vat =#{supply_price}*#{amount}*(select tax_cd from tax_tb where tax_NM=#{tax_NM})*0.1,
	 column5=(#{supply_price}+(#{supply_price}*(select tax_cd from tax_tb where tax_NM='과세')*0.1))*#{amount}
	 where ptcon_fk = #{ptcon_fk} and customer_pk = #{customer_pk} and delivery_date=#{delivery_date}
	</update>
	
	<delete id="cart_delete">
	delete from cart_tb where ptcon_fk = #{ptcon_fk} and customer_pk = #{customer_pk} and delivery_date=#{delivery_date}
	</delete>
	
	<select id="cart_List" resultType="com.spring.domain.CartVO">
	select * from cart_tb where customer_pk = #{customer} order by delivery_date
	</select>
</mapper>